.crveniParagraf {
    color: red;
}
.desnoPoravnanje {
    text-align: right;
}

/* vise elemenata sa istim svojstvom */

h3, h4 {
    color: orange;
}

.drugi, #treci {
    background-color: yellow;
}

/* prioritet selektor < klasa < id */

li {
    color: green;
}
.kurs {
    color: blue;
}
#js {
    color: red;
}
/* selektovati sve paragrafe unutar div elementa */
div p {
    text-decoration: underline;
}
div .podparagraf {
    font-weight: bold;
}
/* selektuje samo direktne potomke--- samo prvo koleno */
#divizija>p {
    font-family: 'Courier New', Courier, monospace;
}
/* treci u listi */
ol li:nth-child(3) {
    font-style: italic;
}
/* za svaki treci dolazi n posle  */
olo li:nth-child(3n) {
    font-weight: bold;
}

/* za neperne brojeve */
ol li:nth-child(odd) {
    color: yellowgreen;
}