span {
    
    display: inline-block;
    border: 1px solid black;
    margin: 0;
    padding: 3px;
    width: 50%;
    height: 100px;

}
body {
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    /* odmah moze da se doda margina 0 kako bi svi elementi pocetno bili bez margine */
    margin: 0;
}
