h2 {
    text-align: center;
    color: indianred;
}
body{
    background-color: rgb(219, 219, 219);
}
img {
    width: 25%;
    border: greenyellow 5px ;
    border-style: double;
}
.paragraf{
    color: indianred;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}