table {
    border: 1px solid black;
    
}
td {
    border: black solid 1px;
}
th {
    border: black solid 1px;
}
#zuta {
    background-color:  yellow;
}

table#druga td:nth-child(3) {
    background-color: yellow;
}

table#druga th:nth-child(3) {
    background-color: yellow;
}

table#prva tr:nth-child(odd) {
    font-style: italic;
}
table#druga tr:nth-child(even):hover {
background-color: yellow;
}
table#druga tr:nth-child(3n) {
    color: blue;
}